<div class="auth-block">
  <div class="card">
    <div class="card-content">
      <span class="card-title center-align">Create account</span>
      <div class="input-field">
        <input id="email" type="email" required>
        <label for="email">Email:</label>
      </div>
      <div class="input-field">
        <input id="username" type="text" required>
        <label for="username">Username:</label>
      </div>
      <div class="input-field">
        <input id="password" type="password" required>
        <label for="password">Password:</label>
      </div>
    </div>
    <div class="card-action center-align">
      <button class="modal-action purple pulse btn-large waves-effect">Register</button>
    </div>
  </div>
</div>

<script src="scripts/materialize.min.js"></script>
<script src="scripts/scripts.js"></script>
